# Artéfacts de compilation
/EZSong/obj
/EZSong/bin

# Visual Studio : Les informations contenues dans ce répertoires sont liées au profil utilisateur, pas au projet lui-même. 
# Elles n'ont aucune utilité pour les autres développeurs, et peuvent même causer des conflits.
.vs/
/AppIcons/*.af~lock~
